@font-face {
    font-family: 'SourceHanSansCN-ExtraLight';
    src: url('../fonts/SourceHanSansCN-ExtraLight.eot');
    src: url('../fonts/SourceHanSansCN-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceHanSansCN-ExtraLight.woff') format('woff'),
    url('../fonts/SourceHanSansCN-ExtraLight.ttf') format('truetype'),
    url('../fonts/SourceHanSansCN-ExtraLight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ExtraLight{
    font-family: 'SourceHanSansCN-ExtraLight';
}
a.logo {
    display: inline-block;
  margin-top: -10px;
}
